a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 70px;
  width: 100vw;
  padding: 0 30px;
}

.header-ttl {
  font-size: 24px;
}

.header-navi-list {
  display: flex;
  list-style: none;
  font-weight: bold;
}

.header__navi__item:not(:last-child) {
  margin-right: 30px;
}

.mv {
  position: relative;
  background: url(../img2/mv.png);
  background-size: cover;
  width: 100vw;
  height: 80vh;
}

.mv-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
  font-weight: bold;
}

.mv-ttl {
  font-size: 50px;
  width: 1000px;
  line-height: 100px;
}

.mv-subttl {
  font-size: 18px;
}

.article {
  position: relative;
  height: 300px;
  background-color: #222222;
  color: white;
}

.article-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1200px;
}

.article-ttl {
  font-size: 30px;
  margin-bottom: 30px;
}

.article-content {
  font-size: 15px;
  line-height: 23px;
}

.service {
  margin: 100px;
}

.service-ttl {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.service-card {
  display: flex;
  flex-wrap: wrap;
}

.service-card-item {
  width: 48%;
  margin: 10px;
}

.service-card-img {
  width: 100%;
}

.service-subttl {
  margin: 10px 0;
}

.service-content {
  line-height: 25px;
}

.service-btn {
  height: 40px;
  width: 300px;
  background-color: #DD0000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.news {
  height: 300px;
  background-color: #222222;
  padding: 80px 100px;
  margin: 0 auto;
}

.news-inner {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
}

.news-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.news-item {
  padding-left: 10px;
}

.news-list-item {
  display: flex;
  padding-left: 10px;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  text-decoration: none;
  width: 100%;
  height: 50px;
  margin: 10px;
  text-align: left;
  font-size: 14px;
  color: black;
}

.news-ttl {
  font-size: 30px;
}

.news-btn {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  width: 170px;
  height: 35px;
  background-color: #DD0000;
  color: white;
  justify-content: center;
  align-items: center;
}

.blog-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  
}

.blog-card {
  width: 32%;
}

.blog-card img {
  width: 100%;
  height: 250x;
  object-fit: cover;
}

.blog-ttl {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.blog {
  padding: 50px 100px;
}

.blog-content {
  padding-top: 10px;
}

.blog-txt {
  font-size: 18px;
  margin-top: 10px;
}

.blog-btn {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 35px;
  background-color: #DD0000;
  color: white;
  font-size: 20px;
  text-align: center;
  align-items: center;
  margin: 50px auto 0 auto;
}

.company {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.company-summary {
  width: 50%;
  height: 250px;
  background-color: #DD0000;
  color: white;
}

.company-recuruit {
  width: 50%;
  height: 250px;
  background-color: black;
  color: white;
}

.space {
  width: 100%;
  height: 100px;
  background-color: white;
}